about {
    --image-width: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

about > figure {
    width: var(--image-width);
    text-align: center;
    padding: 1rem 0;
}

about > figure > img {
    width: var(--image-width);
}

about > section {
    width: calc(100% - var(--image-width));
    min-width: var(--image-width);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

about > section > p {
    text-align: justify;
}
