article {
    display:flex;
    justify-content: space-evenly;
    margin: 3rem auto;
}

article > column {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

article > column > header {
    text-align: center;
}

article > column > p {
    text-align: justify;
}

article > column > figure {
    text-align: center;
}

article > column > figure > img {
    width: 20rem;
    max-height: 30rem;
}

article > form {
    width: 22rem;
}
