button {
    padding: .7rem;
    color: #7F8C8D;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #ECF0F1;
    box-shadow: 0 3px 0 #7F8C8D;
    margin-top: 1rem;
}

button:hover {
    background: #E9ECED;
}

button:active {
    background: #DCe0E1;
    box-shadow: 0 1px 0 #7F8C8D;
    transform: translateY(2px);
}