h1 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: .7rem;
}

h3 {
    font-size: 2.1rem;
    margin-bottom: .4rem;
}

h4 {
    font-size: 1.8rem;
    margin-bottom: .1rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.2rem;
}