@import "css/reset.css";

@import "css/header.css";
@import "css/form.css";
@import "css/nav.css";
@import "css/article.css";
@import "css/footer.css";

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1170px;
    margin: 0 auto;
}

p {
    color: #374252;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.02rem;
}

a:hover {
    text-decoration: underline;
    color: #374252;
}